body {
  margin: 0; 
  background:  #f5eef8;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Bitter'
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container{
  max-width: 960px;
  margin-right:auto;
  margin-left:auto;
  padding-right: 15px;
  padding-left: 15px;
}
.notes-list{
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
}
.note{
  background-image: linear-gradient(to top, #FCC900 0%, #DAF7A6 100%);
 white-space: pre-wrap;
  border-radius: 10px;
  padding: 1rem;
  min-height: 170px;
  display: flex;
  flex-direction: column;
justify-content: space-between;
}
.note-footer{
  display: flex;
  align-items: center;
  justify-content:space-between;
}
textarea{
  border:none;
  resize: none;
  background-image: linear-gradient(to top, #FCC900 0%, #DBF7A6 100%);
}
.note.new{
  background-color: #DBF7A6;
}
textarea:focus{
  outline: none;
}
.save{
  background-color: rgb(233, 233, 233);
  border:none;
  border-radius: 15px;
  padding: 5px 10px 5px 10px;
  border:solid 4px #077922;
}
.save:hover{
  background-color: #99e08b;
  cursor: pointer;
}
.delete-icon{
  cursor: pointer;
}
.search{
  display: flex;
  align-items: center;
  background-color: #ebdef0;
  border-radius: 10px;
  padding: 1.5em;
  margin-bottom: 10px;
  border:solid 4px #9b1181;
}
.search input{
  border: none;
  background-color: #ebdef0;
  
}
.search input:focus{
  outline: none;
}
.dark-mode{
  background-color: #17202a ;
  min-height: 100vh;
}
.dark-mode h1{
  color: white;
}